﻿
@{
    ViewData["Title"] = "Ben's Page";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>

<h4>Education</h4>

<ul>
    <li>AAS Computer Science - Northeast State Community College (2017)</li>
    <li>BaS Computer Science - East Tennessee State University (2019)</li>
</ul>

<h4>About Me</h4>
<ul>
    <li>Concentration: Computer Science--Information Systems</li>
    <li>Career Interests: Aspiring to work from home eventually. Incredibly open to working at Disney forever though if the opportunity arises.</li>
</ul>