﻿@{
    ViewData["Title"] = "Student Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Name"]</h3>


<h4>Education</h4>
<ul>
    <li> Student - Computer Science - Concentration in CS</li>
</ul>

<h4>Languages and Skills</h4>
<ul>
    <li>
        SQL
    </li>
    <li>
        C# - Visual Studios / Java
    </li>
    <li>
        HTML / CSS
    </li>
</ul>

<h4>Career Goals</h4>
<p> I'd like to start with a good computing job locally until I earn enough money to move out with little issue and get another job I'm more interested in somewhere else. I have no set goals on what kind of job I want yet, but some I'm considering include software developement, game developement, and application developement.</p>